.gpt3__footer {
  text-align: center;
  background-color: var(--color-footer);
}
.gpt3__footer-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
}

.unique_request_system {
  margin-bottom: 10rem;
  padding: 1rem 1rem;
  margin-top: 2rem;
  font-size: 20px;
  background: rgb(118, 117, 117);
  border-radius: 5px;
  line-height: 20px;
  color: rgb(1, 0, 0);
  border: none;
}

/* .gpt3__footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} */
.gpt3__footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.gpt3__footer-links_div h4 {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 2rem;
}
.gpt3__footer-links_div p, .gpt3__footer-links_logo p {
  font-family:var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin-top: 1.5rem;
}

.gpt3__footer-copyright {
  margin-top: 6rem;
  font-family: "Gilroy-Medium";
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

@media screen and (max-width : 990px) {
  .gpt3__footer-links {
    flex-direction: column;
  }
  .gpt3__footer-links h4  {
    margin: 1rem 0;
  }
  .gpt3__footer-links_div {
    margin: 1rem;
  }
}